@model IEnumerable<EmployeeModel>

<div class="card-deck">
    @foreach (var item in Model)
    {
        var fileName = "~/images/" + (item.PhotoPath ?? "emp1.png");
        
        <div class="card m-3">
            <div>
                <h3>@item.Name</h3>
            </div>
            <img class="card-img-top" src="@fileName" asp-append-version style="height:150px;width:200px" />
            <div class="card-footer text-center">
                <a asp-controller="Employee" class="btn btn-primary btnlst" asp-action="Details" asp-route-id="@item.Id">View</a>
                <a asp-controller="Employee" class="btn btn-primary btnlst" asp-action="Index" asp-route-id="@item.Id">Edit</a>
                <a href="#" class="btn btn-danger btnlst" onclick="setIdToDelete(@item.Id)" data-toggle="modal" data-target="#exampleModal">Delete</a>
            </div>
        </div>
    }
</div>